.messages {
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    top: 0;
    left: .5%;
    right: .5%;
    width: 97%;
    padding: 15px;
    box-shadow: -2px 2px 2px black;
}

.messages .close-messages {
    user-select: none;
    color: red;
    padding: 2%;
    border: 1px solid red;
    border-radius: 8px;
    margin-left: 80%;
    text-align: center;
    transition: all .3s;
}

.messages .close-messages:hover {
    background-color: red;
    color: white;
    box-shadow: 2px 2px 2px black;
}

.messages .messages-received #en-tete {
    display: flex;
    color: rgb(0, 0, 109);
}

.messages .messages-received #en-tete h3 {
    margin-left: 5%;
}

.messages .messages-received p {
    width: 150px;
    margin: 1% 0 2% 10%;
    color: white;
}

.messages .answer {
    position: inherit;
    bottom: 2%;
    display: flex;
}

.messages .answer #emoticone {
    background-color: white;
    border-radius: 8px;
    padding: 2%;
    margin-right: 1%;
    width: 10%;
    height: 10%;
    transition: all .5s;
}

.messages .answer #emoticone:hover,
.messages .answer #send:hover {
    background-color: aqua;
    box-shadow: 2px 2px 2px black;
}

.messages .answer textarea {
    border-radius: 10px;
    resize: none;
    min-height: 7%;
    padding: 1%;
}

.messages .answer #send {
    border: 1px solid white;
    background-color: white;
    border-radius: 8px;
    margin-left: 1%;
    padding: 4%;
    transition: all .5s;
}

.messages .answer #send:hover {
    border: 1px solid aqua;
}

/* Mobile messages box style */
@media screen and (max-width: 555px) {
    .messages {
        width: 100%;
    }

    .messages .messages-received #en-tete img {
        margin-left: 10%;
    }
    
    .messages .messages-received p {
        margin: 2% 0 2% 20%;
    }

    .messages .answer {
        width: 100%;
        margin-left: 10%;
    }
}

.fade-in {
    opacity: 0;
    transition: all .3s;
}

.fade-in.show {
    opacity: 1;
}

.fade-out {
    opacity: 1;
    transition: all .3s;
}

.fade-out.hide {
    opacity: 0;
}

/* Discussions list and conversations box styles */
.discussions-conversations {
    display: flex;
}

.discussions-conversations .discussions-list {
    width: 1000px;
    user-select: none;
    padding: 10px;
}

.discussions-conversations .conversation {
    margin-left: -17.2%;
    margin-top: .7%;
}

.discussions-conversations .conversation h1 {
    text-align: center;
    margin-top: 40%;
    transform: translateY(-50%);
}

.discussions-conversations .conversation h2 {
    margin-left: 10px;
    margin-top: 8px;
}

.discussions-conversations .conversation p {
    color: black;
    text-align: start;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1% 2% 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}
