.messages {
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    top: 0;
    left: .1%;
    right: .1%;
}

.messages .messages-received p {
    width: 150px;
    margin: 1% 0 2% 2%;
}

.messages .answer #emoticone {
    background-color: white;
    border-radius: 8px;
    padding: 2%;
    margin-right: 1%;
    width: 10%;
    height: 10%;
    transition: all .5s;
}

/* Mobile messages box style */
@media screen and (max-width: 555px) {
    .messages {
        width: 100%;
    }

    .messages .messages-received #en-tete img {
        margin-left: 10%;
    }
    
    .messages .messages-received p {
        margin: 2% 0 2% 20%;
    }

    .messages .answer {
        width: 100%;
        margin-left: 10%;
    }
}

/* Discussions list and conversations box styles */
.discussions-conversations {
    display: flex;
    overflow-y: auto;
    height: 650px;
}

.discussions-conversations .discussions-list {
    max-width: 500px;
    user-select: none;
    padding: 10px;
}

.discussions-conversations .conversation {
    position: fixed;
    left: 35%;
    height: 600px;
    margin-top: 1%;
    border: 2px solid #2196F3;
    border-bottom: none;
}

.discussions-conversations .conversationNull h1 {
    position: fixed;
    text-align: center;
    margin-top: 19%;
    margin-left: 10%;
    width: 500px;
}

.discussions-conversations .conversation h2 {
    margin-left: 10px;
    margin-top: 8px;
}

.discussions-conversations .conversation p {
    text-align: start;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1% 2% 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: fit-content;
    /* min-width: 100px; */
    max-width: 350px;
    overflow: auto;
}
