.user-answer {
    position: relative;
    bottom: 0;
    right: 1%;
    margin-bottom: 10px;
    padding: 2px;
    text-align: bottom;
}

.user-answer p {
    position: inherit;
    left: 100%;
    transform: translateX(-100%);
    background-color: #2196F3;
    color: white;
    text-align: start;
    width: fit-content;
}

.user-answer #answer-date {
    position: fixed;
    left: 93.5%;
    color: white;
    border: none;
    margin-top: -1.2%;
    transform: translateX(-100%);
}

/* Mobile user answer box style */
/* @media screen and (max-width: 555px) {
    .user-answer {
        margin-top: 20%;
        margin-left: 30%;
    }
} */
