* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #1e847f;
    box-shadow: 3px 3px 2px black;
    max-height: 90px;
}

nav h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 25px;
    margin-left: 2%;
    text-shadow: 2px 2px 2px black;
}

nav #initials-mobile {
    display: none;
}

.mobile-nav {
    display: none;
}

/* Lignes devant s'afficher sur les petits écrans à la place des liens de la navbar */
nav .lines {
    display: none;
}

@media screen and (max-width: 675px) {
    nav {
        height: 60px;
    }

    nav h1 a {
        display: none;
    }
    
    nav #initials-mobile {
        display: block;
        font-size: 25px;
        letter-spacing: 5px;
        width: 100px;
        margin: 5px;
        padding: 10px;
        margin-top: 2.2%;
        color: rgb(255, 0, 76);
        transition: all .3s;
    }

    nav #initials-mobile:hover {
        letter-spacing: 10px;
    }

    nav .lines {
        display: inline;
        width: 80px;
        padding-top: 9px;
    }

    nav .lines div {
        height: 2px;
        width: 40px;
        margin: 10px;
        background-color: white;
        transition: all .4s;
    }

    nav .lines:hover #three {
        display: none;
        color: red;
    }

    nav .lines:hover #one {
        transform: rotate(45deg);
        margin-top: 25%;
    }

    nav .lines:hover #two {
        transform: rotate(-45deg);
        margin-top: -13.5%;
    }

    /* Nav style for mobile phones */
    .mobile-nav {
        display: block;
        position: absolute;
        top: 60px;
        height: 100vh;
        width: 100vh;
        background-color: white;
    }

    .mobile-nav .links-mobile .pub-div, 
    .mobile-nav .links-mobile .notifs-div, 
    .mobile-nav .links-mobile .messages-div {
        display: flex;
        margin: 100px;
        margin-left: 20px;
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        color: #1b6c68;
        transition: all .3s;
    }

    .mobile-nav .links-mobile .pub-div h3, 
    .mobile-nav .links-mobile .notifs-div h3, 
    .mobile-nav .links-mobile .messages-div h3 {
        transition: all .3s;
    }

    .mobile-nav .links-mobile .pub-div h3:hover, 
    .mobile-nav .links-mobile .notifs-div h3:hover, 
    .mobile-nav .links-mobile .messages-div h3:hover {
        padding: 10px 50px 10px 0;
        border-right: 2px solid green;
        border-bottom: 2px solid yellowgreen;
        box-shadow: 3px 2px 2px black;
        background-color: rgb(179, 238, 59);
    }
    
}

nav h1 #initials {
    color: #f6416c;
    color: yellow;
}

nav h1 a {
    color: #a6e3e9;
}

nav .links {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: -.5%;
}

@media all and (max-width: 675px) {
    nav .links {
        display: none;
    }
}

nav .links img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 3px;
}

nav .links .pub-div, .notifs-div, .messages-div {
    display: flex;
    justify-content: space-between;
    user-select: none;
    margin: 20px 60px 20px 5px;
    font-size: 20px;
    margin-top: 4%;
    transition: all .3s;
}

nav .links .pub-div:hover, .notifs-div:hover, .messages-div:hover {
    margin-top: 2.5%;
}

nav .links .pub-div:hover h3, .notifs-div:hover h3, .messages-div:hover h3 {
    border-bottom: 2px solid white;
}

nav .links .search-div {
    margin: 30px;
    display: flex;
}

nav .links .search-div input {
    height: 25px;
    border-radius: 10px;
    height: 28px;
    width: 180px;
    margin-top: 3%;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    transition: all .3s;
}

nav .links .search-div:hover input {
    height: 32px;
    margin-top: .8%;
    border: 2px solid blue;
}

nav .links .search-div img {
    position: absolute;
    margin-top: .65%;
    right: 32px;
    cursor: pointer;
    transform: rotate(90deg);
    transition: all .3s;
}

nav .links .search-div:hover img {
    margin-top: .5%;
}
