.user-answer {
    position: relative;
    bottom: 0;
    right: 1%;
    margin-bottom: 10px;
    padding: 2px;
    text-align: bottom;
}

.user-answer p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 8px;
    height: fit-content;
    width: fit-content;
    max-width: 200px;
    overflow: hidden;
    border: 2px solid #2196F3;
    border-radius: 10px;
    position: inherit;
    left: 100%;
    transform: translateX(-100%);
}

/* Mobile user answer box style */
/* @media screen and (max-width: 555px) {
    .user-answer {
        margin-top: 20%;
        margin-left: 30%;
    }
} */
